.btn-outline-secondary{
    border:0;
    text-align: center;
    width: 500px;
}

.dropdown-toggle {
    width: 260px;
}


.btn-outline-secondary:hover {
    background-color: rgb(225, 225, 225);
    color: gray;
}

.night-mode .btn-outline-secondary{
    color:white;
}