/* Menu.css */
.menu-container {
    position: fixed;
}

.list-group {
    padding-top: 10px;
    border: 0;
    border-radius: 50px;
    background-color: transparent;
}

.list-group-item {
    border: 0;
    border-radius: 50px;
    background-color: transparent;
}

.list-group-item:hover{
    background-color: rgba(0, 0, 255, 0.208);
    cursor: pointer;
    border-radius: 50;
}

.menu-text {
    margin-left: 10px;
    font-size: 25;
}
.menu-icon {
    font-size: 1.5rem; 
    color:blue;
}

.night-mode .menu-text {
    color: white;
}


