/* style.css */

body {
    background-color: rgb(235, 232, 232);
  }
  

.box-container {
    border: 0;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    margin: 20px ;
    width: 50rem;
    height: 80px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.card-img-top {
    padding: 50pt;
}

.card {
    margin: 20px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.app-container.night-mode {
    background-color: rgb(99, 94, 94);
}




