/* style.css */

.navbar {
    background-color: white;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    min-height: 40px; /* Adjust this value based on your preference */
    padding-bottom: 5px;
}

/* Rounded corners for larger screen input */
.d-none.d-lg-block {
    border-radius: 100px; 
}
  
  /* Rounded corners for smaller screen input */
.d-lg-none {
    border-radius: 100px; 
}

.list-group {
    padding-top: 10px;
    border: 0;
    border-radius: 50px;
    background-color: transparent;
}

.list-group-item {
    border: 0;
    border-radius: 50px;
    background-color: transparent;
}

.list-group-item:hover{
    background-color: rgba(0, 0, 255, 0.208);
    cursor: pointer;
    border-radius: 50;
}

.menu-text {
    margin-left: 10px;
    font-size: 25;
}
.menu-icon {
    font-size: 1.5rem; 
    color:blue;
}


.input-group {
    width: 600px;
    height: 40px;

}

.form-control {
    text-align: center;
}

.box-container {
    border: 0;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    margin: 20px ;
    width: 500px;
    height: 80px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.profile-image {
    width: 40px; 
    height: 40px; 
    margin-right: 10px; 
}



